.menuFilter{
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
}
.filterComponents{ 
    background-color: yellow;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeFilter, .priceFilter{
    width: 50%;
    text-align: center;
}

